<!-- TITLE -->
<div class="mb-40 mt-40">
    <h1>Company Edit</h1>
</div>
<div class="card mb-40">
    <div class="card-header">
        <i class="fa fa-edit"></i> Edit
    </div>
    <div class="card-body">
        <form #editForm="ngForm" [ngClass]="{'was-validated': formValid!=null}">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" [(ngModel)]="item.address" name="address" #address="ngModel" >
                    </div>
                    <div class="form-group">
                        <label for="mail">Mail</label>
                        <input type="text" class="form-control" id="mail" [(ngModel)]="item.mail" name="mail" #mail="ngModel" >
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="item.name" name="name" #name="ngModel" >
                    </div>
                    <!-- RELATIONS -->
                    


                    <h2 *ngIf="externalContact[0]">External Relations</h2>
        
                        <h3 *ngIf="externalContact[0]">Contact</h3>
                        <ul class="list-group">
                        <li class="list-group-item" *ngFor="let item of externalContact">{{item._id}}</li>
                        </ul>

                    <!-- BUTTON BAR -->
                    <div class="mt-40">
                        <button class="btn btn-primary pull-right" (click)="save(editForm.valid, item)">Save</button>
                        <button class="btn btn-secondary pull-right mr-2" (click)="goBack()">Back To List</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>